body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	background-color: #fff;
	line-height: 1.6;
	text-align: center; /* Centers text for all elements that don't override this */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin-bottom: 20px;
}

button,
input {
	padding: 8px 16px;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
}

button {
	color: #fff;
	background-color: #000;
}

button:hover {
	background-color: #333;
}

.box,
.card,
.content,
.navbar a {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 1rem;
	margin-bottom: 20px;
	background-color: #fff;
}

.container,
header,
footer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	border-bottom: 1px solid #ddd;
}

footer {
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

nav li {
	margin: 0 10px;
}

nav a {
	text-decoration: none;
	color: #333;
	font-weight: 700;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

nav li[aria-current='page'] a,
nav a:hover {
	color: #007bff;
	font-weight: bold;
}

img {
	max-width: 100%;
	height: auto;
	display: block; /* Ensures images are centered in their container */
}

/* Responsive adjustments */
@media (max-width: 992px) {
	.navbar,
	.content,
	.card {
		padding: 1rem;
	}
}
